.entete{
    display: flex;
 
    justify-content: center;
    align-content: center;
    font-style: normal;
    font-size: 30px;
}

.page{
    display: flex;
    flex-direction: column;
    margin: 0 15%;
    font-style: normal;
    font-size: xx-large;
    background-color: rgba(19, 163, 77, 0.3); /* 0.5 - semi-transparent */
}


.ligne2{
    display: flex;
    flex-direction: row;
   /* height: 50px;*/
    justify-content: space-between;
 /*   margin: 5 20% 0 0; */
    margin-top: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.devisClient2{
  border: 0;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(7, 124, 79);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  padding-left: 1REm;
  padding-right: 1rem;  
}

.devisClient{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.devisClient dd{
    margin-left: 0%;
}

.zoneSaisie{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 1rem;
}
.formulaire{
    display: flex;
    flex-direction: row;
    gap: 10rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.tailleLib{
    font-style: normal;
    font-size: 25px;

}

.zoneSaisieTaille{
    font-size: 20px;
    color: rgb(7, 124, 79);
    text-decoration-style: double;
}

.bouton{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1.5rem;
    margin-left: 6rem;
    margin-right: 1rem;
}

.styledEntete {
  border: 0;
  line-height: 1.5;
  padding: 0 20px;
  font-size: 20px;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(7, 124, 79);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}


    
/* ====================================================================================
    mise en forme des boutons  
   ====================================================================================
*/  
.styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(7, 124, 79);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
  background-color: rgb(0, 255, 149);
}

.styled:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
/* ====================================================================================
    mise en forme des boutons  
   ====================================================================================
 */